/*CÓDIGO CSS PARA COMPUTADORES*/

* {padding: 0; margin: 0; box-sizing: border-box;} 

:root {
    /*Fontes*/
    --font-body: Arial, Helvetica, sans-serif;
    --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
    
    /*Cores*/
    --cor_01: yellow;
    --cor_02: black;
    --cor_03: white;
    --cor_04: #d0d0d0;

    /*Tamanhos*/
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
}

/*****************************************BODY*****************************************/
body {font-family: var(--font-body);}

/****************************************HEADER****************************************/
.main-header {
    background-color: var(--cor_01);
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid var(--cor_04);
}

/*aqui precisa ser a foto da logo*/
.logo-placeholder {
    background-color: var(--cor_04);
    padding: 10px 20px;
    border: 1px solid var(--cor_03);
    font-weight: bold;
    font-size: 0.8rem;
}

/*Search bar container*/
.search-container {
    flex-grow: 0.6;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--cor_03);
    border-radius: 25px;
}

/*Search bar input*/
.search-container input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1.5px solid var(--cor_02);
    font-style: italic;
}

/*Search bar ícone*/
.search-icon {
    position: absolute;
    right: 15px;       
    font-size: 1.2rem;
    color: var(--cor_02);
    cursor: pointer;
}

/*BTN entrar*/
.btn-entrar {
    background-color: var(--cor_02);
    color: var(--cor_03);
    padding: 10px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.btn-entrar:hover {
    background-color: var(--cor_03);
    color: var(--cor_02);    
}

/*****************************************MAIN*****************************************/

/*********************************CARROSSEL DE FOTOS***********************************/
.hero-section {
    background-color: var(--cinza-claro);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 2px solid var(--preto);
}

.hero-icon {
    font-size: 5rem;
    color: var(--preto);
}

.hero-badge {
    position: absolute;
    bottom: 20px;
    right: 5%;
    background-color: var(--preto);
    color: var(--branco);
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 0.9rem;
}

/********************************CATEGORIAS DE SERVIÇOS********************************/
.categories-section {
    padding: 40px 5%;
    background-image: radial-gradient(var(--cinza-claro) 1px, transparent 1px); /* Efeito de pontos do wireframe */
    background-size: 20px 20px;
}

.categories-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.categories-grid {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.category-item {
    width: 110px;
    height: 110px;
    background-color: var(--amarelo);
    border-radius: 50%;
    border: 1px solid var(--preto);
}

/****************************************FOOTER****************************************/
.main-footer {
    background-color: var(--cor_01);
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1.5px solid var(--cor_04);

}

.footer-text {
    font-style: italic;
    font-weight: 500;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    background-color: var(--cor_02);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--cor_03);
    text-decoration: none;
    font-size: 1.2rem;
}